.beautyButton {
    background-color: rgb(38, 174, 220);
}
.beautyButton:hover {
    background-color: lightblue;
}
.bg {
    background-image: url('@/assets/shihao.jpeg');
    width: 300px;
    height: 600px;
}